<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Contraseña Actual</mat-label>
      <input matInput formControlName="oldPassword">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput formControlName="newPassword">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Confirme nueva contraseña</mat-label>
      <input matInput formControlName="confirmPassword">
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="modificar()">ACTUALIZAR</button>
  </form>
  