<form class="example-form" [formGroup]="form">
  <h4 class="form-title">REGISTRAR DOCENTE</h4>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Legajo</mat-label>
    <input matInput formControlName="legajo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="registrar()">REGISTRAR</button>
</form>
