<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header class="flex justify-center">
      <mat-card-title class="text-center text-white font-bold text-2xl">Ingrese la nueva contraseña</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onRecover()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="password" required>
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              La contraseña es obligatoria
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="confirmPassword" required>
            <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
              Por favor, confirme la contraseña
            </mat-error>
          </mat-form-field>
    
            <mat-card-actions class="login-actions">
            <button mat-raised-button color="primary" type="submit">MODIFICAR CONTRASEÑA</button>
            <button mat-raised-button color="primary" (click)="cancelar()">CANCELAR</button>
          </mat-card-actions>
          </form>
          
        </mat-card-content>
      </mat-card>
    </div>