<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" readonly>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput formControlName="userName" readonly>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" readonly>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Rol</mat-label>
      <input matInput formControlName="role" readonly>
    </mat-form-field>
  </form>
  